#galerie {
  background-color: gray;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.back {
height: inherit;
font-size: 50px;
float: left;

}

.next {
  height: inherit;
font-size: 50px;
float: right;

}
